{{template "header"}}
<div class="row">
  <h1>Submit Application</h1>
  <form action="{{.}}" method="post" enctype="multipart/form-data" data-abide>
    <div class="large-4 columns">
      <div class="name-field">
        <label>Name</label>
        <input type="text" required pattern="alpha_numeric" placeholder="My Incredible Game" />
        <small class="error">Name is required and must be a string.</small>
      </div>

      <div class="name-field">
        <label>SWF File</label>
        <input type="file" name="file" required />
        <small class="error">File is required.</small>
      </div>

      <input type="submit" value="Submit" class="button" /> 
    </div>
  </form>
</div>
{{template "footer"}}
